.card {
  max-width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.height {
  padding-top: 10px;

}

.button {
  padding-top: 30px;
  margin-bottom: 20px;
}

.content {
margin: 30px;
}
.spinner{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.searchCard {
  max-width: 500px;
  min-width: 100px;
  margin: 5rem  5rem 0 30%;
}
.searchCard mat-form-field {
  width: 450px;
  min-width: 100px;
}
