.card {
  max-width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.height {
  padding-top: 10px;

}

.button {
  padding-top: 30px;
}

.content {
  padding-right: 80%;

}
.spinner{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
