<mat-card class="searchCard">
  <form [formGroup]="SearchInputForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <button mat-button matPrefix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <input matInput type="search"  placeholder="a book or a member" formControlName="searchInput" [(ngModel)]="term">
      <button mat-button *ngIf="SearchInputForm.dirty" matSuffix mat-icon-button aria-label="Clear" (click)="SearchInputForm.reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-card>

<div>
    <mat-card class="card" >

      <div  class="spinner" *ngIf="isLoading">
        <mat-progress-spinner
          diameter="30"
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
        </mat-progress-spinner>
      </div>

      <div *ngFor='let member of members | filter:term'class="height">
              <mat-card-header class="cardContent">
                <div class="content">
      <mat-card-title>{{member.fullName}}</mat-card-title>
      <mat-card-subtitle>LB/{{member.id}}</mat-card-subtitle>
      <mat-card-subtitle>{{member.email}}</mat-card-subtitle>
      <mat-card-subtitle>{{member.phoneNumber}}</mat-card-subtitle>
      <mat-card-subtitle>{{member.username}}</mat-card-subtitle>
      <mat-card-subtitle>{{member.region}}</mat-card-subtitle>
<mat-chip-list>
  <mat-chip style="background-color: #3F51B5;color: white">{{member.role}}</mat-chip>
</mat-chip-list>
    </div>
    <div>

      <div class="button">
        <button (click)="deleteUser(member.id)" mat-fab color="warn" aria-label="button with a delete icon" >
          <mat-icon>delete</mat-icon>
        </button>

    </div>
  </div>

    </mat-card-header>
  <mat-divider></mat-divider>

    </div>
  </mat-card>
</div>

