.form {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
h2 {
  color: crimson;
}

.login-failed {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  width: 65%;
  background-color: red;
}

.login-failed-text {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  color: aliceblue;
}

.forgot{
  margin-top:40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
