

.infoCard-container {
  width: 50%;
  height: 50%;
  padding: 1rem;
  margin: 6rem;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.infoCard {
  align-content: center;
  /* width: 40%; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-radius: 0.5rem;
  --tw-border-opacity: 0.5;
}

.userIcon {
  width: 4rem;
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
  height: 4rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(252, 165, 165, var(--tw-bg-opacity));
}

.userDetails {
  flex-grow: 1;
}
.userDetails p {
line-height: 1.625;
  font-size: 1rem;
}
  @media (min-width: 768px) {
    .infoCard-container {
      width: 100%;
    }
  }
@media (min-width: 640px) {
  .infoCard{
    flex-direction: row;
  }
  .userIcon {
    margin-right: 2rem;
    margin-bottom: 0px;
  }
}
    @media (min-width: 1024px) {
      .infoCard-container {
        width: 75%;
      }
    }
.mat-button{
  display:flex;
  justify-content: center;
  width: 120px;
  align-items: end;
  float: end;
}
