<div class="infoCard-container">
  <mat-card class="infoCard">
    <div class="userIcon">
     <mat-icon>person</mat-icon>
    </div>
    <div *ngIf="isLoading; else personDetails">
      <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value">
    </mat-progress-spinner>
    </div>
    <ng-template #personDetails>
      <div class="userDetails">
        <h3>{{ personModel.fullName}}</h3>
        <p>{{ personModel.username }}</p>
        <p >{{ personModel.email }}</p>
        <p >{{ personModel.phoneNumber}}</p>
        <p>{{ personModel.region}}</p> 
        
        <button mat-raised-button color="warn"(click)="openDialog()">Edit profile</button>
      </div>
    </ng-template>
     
   
  
  </mat-card>
</div>

