<mat-card class="searchCard">
  <form [formGroup]="SearchInputForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <button mat-button matPrefix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <input matInput type="search"  placeholder="a book or a member" formControlName="searchInput" [(ngModel)]="term">
      <button mat-button *ngIf="SearchInputForm.dirty" matSuffix mat-icon-button aria-label="Clear" (click)="SearchInputForm.reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-card>
<mat-card style="margin: 3rem">
<div *ngFor="let book of Books | filter:term" style="margin-bottom: 1rem">
  <mat-card>
    <h1>{{book.bookTitle}}</h1>
    <h2>{{book.author}}</h2>
    <p>{{book.description}}</p>
  </mat-card>
</div>
  <div class="spinner">
    <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
  </div>
</mat-card>
