<mat-card style="background-color: #8ccc7b; color: white;width: 60%;height: 10em;margin: 8rem 0 0 20%;display: flex">
  <h1 style="margin-top: 3rem">WELCOME, {{name}}</h1>
  <span style="font-size: 100px;margin: 4rem 0 0 50%">🤗</span>
</mat-card>

<mat-card style="background-color: #ffffff; color: rgb(0, 0, 0);width: 60%;height: 50em;margin: 8rem 0 0 20%;display: flex">
  <h3 style="margin-top: 3rem">
  <p>You have successfully logged in the Onlie Library Management System! This system allows people to do Online Bookings from the Library and Online Reading to reduce the overall Bureaucracy of Library Management activities and provide efficient services to its members. </p>
  <br>
  <p>You can access the system functionalities on the menu side nav. </p>
  <br>
  <p> <b> Profile </b>: You can view and edit your details. </p>
  <br>
  <p> <b> Books </b>: All details about books and book information.  </p>
  <br>
  <p> <b> Payments </b>: You can view payment information. </p>
  </h3>
</mat-card>

