.container{
  margin-top: 10px;
  margin-bottom: 20px;
}
.cardBook{
  margin-top: 10px;
  margin-bottom: 20px;
}
.spinner{
  display:flex;
  justify-content:center;

}
.searchCard {
  max-width: 500px;
  min-width: 100px;
  margin: 5rem  5rem 0 30%;
}
.searchCard mat-form-field {
  width: 450px;
  min-width: 100px;
}

