<body>
 <p>
  <mat-toolbar color="warn">
    <span><i class="fa fa-book  fa-2x" aria-hidden="true">ONLINE BOOKSTORE</i></span>
    <span class="example-spacer"></span>
    <form class="form-inline" action="/action_page.php">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form> ||||
    <button mat-raised-button color="btn-success" routerLink="/login">login</button>
  </mat-toolbar>
  </p>  
     <!-- <mat-card class="picture">
       
      <img mat-card-image src="https://image.shutterstock.com/image-illustration/bookshelves-library-old-books-3d-260nw-1529567276.jpg"alt="Photo of a librar"> 
      <!-- <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>  -->
  
           
   <!-- <div  *ngFor=" let book of books" > 
    <h2>{{ books.bookTitle }}</h2> 
    
  </div> -->
  <!-- <div class="example-button-row" >
    <button mat-raised-button color="warn" style="width:410px; margin-top: 20px;" routerLink="/user">or go to member dashboard</button><br>
    <button mat-raised-button color="warn" style="width:410px; margin-top: 20px;" routerLink="/admin">or go to Admin</button>
  </div>
   -->
<!--<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Software engineering Team</h1>
    </div>
     <hr>
  </div>
</div>
<div class="container-fluid padding">
  <div class="row padding">

  </div>
</div> -->
    
      <footer>
        <div class="container-fluid padding">
          <div class="row text-center">
            <div class="col-md-4"> 
              <hr class="light">
              <p>contacts </p>
              <p>location </p> 
              <p> email</p>
              <p>city </p>
            </div> 
             
            <div class="col-md-4"> 
              <hr class="light">
              <p>time </p>
              <p>weekends </p> 
              <p> email   </p>
              <p>city </p>
            </div> 
            
            <div class="col-md-4"> 
              <hr class="light">
              <p>contacts </p>
              <p>location </p> 
              <p> email</p>
              <p>city </p>
            </div> 
            <div class="col-12"> 
              <hr class="light"> 
              <h5>&copy;onlinebookstore.com</h5> 
            </div> 
          </div> 
        </div> 
      </footer>
</body>