.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 400px;
  margin:1em;
  padding: 5%;
  display: inline-block;
  flex: auto;
  
}

.example-header-image {
 
  background-size: cover;
}

