/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button { outline: none !important;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
